.buscador{
    transform: scale(1);
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding-top: 50px;
    position:fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    transition: .8s ease;
}
.buscadorEscondido{
    transform: scale(0);
    transition: .8s ease;
    position:fixed;
    top: 0;
    z-index: 10;
}
.contenedor-buscador-entradas{
    width: 80%;
    height: auto;
}
.todos-buscadores{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: none;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.div-buscarExtendido{
    border: none;
    width: 40%;
    height: 55px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-buscarExtendido:focus-within{
    border: 2px solid #333333;
}
.buscador-titulo{
    width: 90%;
    display: flex;
    justify-content:left;
}
.buscador-titulo >small{
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 9px;
    text-transform: uppercase;
    color: #333333;
}
.input-location-guests{
    border: none;
    width: 90%;
    height: 30px;
    outline: none;
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#boton-buscarExtendido{
    width: 10%;
    height: 55px;
    border: none;
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    flex-wrap: wrap;
}
#boton-buscarExtendido:hover{
    cursor: pointer;

}
.contenedor-icono-buscarExtendido{
    width: 20%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-icono-buscarExtendido >span{
    color: #F2F2F2;
    object-fit: cover;
}
#boton-buscarExtendido >p{
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F2F2F2;
}
.coincidencias-busqueda{
    width: 40%;
    margin-top: 20px;
}
.coincidencia{
    list-style-type: none;
    height: 50px;
}
.contenedor-coincidencia >a{
    text-decoration: none; 
    font-family:"Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
}
.buscador-parte-inferior{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#coincidencias-busqueda{
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.add-guests-buttons{
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-guests-buttons-division{
    width: 80%;
    height: fit-content;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-guests-buttons-division>h4{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}
.add-guests-buttons-division>small{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}
.seccion-botones-suma{
    width: 18%;
    display: flex;
    flex-direction: row;
    gap: 5px
}
.seccion-botones-suma >p{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    border-left: 5px;
    border-right: 5px;
}
.seccion-botones-suma >button{
    width: 23px;
    height: 23px;
    border: 1px solid #828282;
    border-radius: 4px;
    background-color: white;
}
.seccion-botones-suma >button:hover{
    cursor: pointer;
}